@media (max-width: 767px){
    .top{
        &__title{
            font-size: 32px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: center;
        }
    

        &__text{
        font-size: 14px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        

            &_bold{
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            }
    }

        
}

.button{
    display: flex;
    align-items: center;
    padding-left: 71px;
    padding-right: 71px;

}

    .menu{
        &__content{
            display: flex;
            flex-direction: column;
            padding-bottom: 128px;
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
        }

        &__link{
            width: 100%;
        }
    
    }

    .firstGame{
        display: flex;
        flex-wrap: wrap;

        &__picture{
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 64px;
        }

        &__image{
            width: 344px;
            height: 236px;
        }
    }

    .season{
        &__title{
            display: none;
        
            &_mob{
                display: block;
                color: $color-text;
                padding-top: 51px;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    
        &__text{
            padding-top: 32px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
    }

    .secondGame{
        display: none;

        &_mob{
            display: flex;
            flex-wrap: wrap;
            background-color: $background-color;
            align-items: center;
        }

        &__image{
            padding-top: 77px;
            padding-bottom: 90px;
            width: 344px;
            height: 231px;
        }


    }

    .words{
        
        padding-top: 51px;
        &__title{
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            color: $color-text;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__text{
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
    }



}



